:root {
  --color-main: #0D2960;
  --color-secondary: #1CA1EC;
  --color-border: #E6E8EC;
  --color-danger: #FF6157;
  --color-warning: #FCD203;
  --color-info: #E9F3F9;
  --color-bg: #f8fbfe;
  --color-text: #0C2659;
  --color-title: #88B0FF;
}